<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />
  <style>
    :root {
      --background: #111111;
      --foreground: #191919;
      --borders: #606060;
      --text: #eeeeee;
      --alternate-text: #b4b4b4;
      --accent: #e54666;
    }

    @media (prefers-color-scheme: light) {
      :root {
        --background: #fcfcfc;
        --foreground: #f9f9f9;
        --borders: #bbbbbb;
        --text: #202020;
        --alternate-text: #646464;
        --accent: #e54666;
      }
    }

    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    body {
      background-color: var(--background);
      font-family: sans-serif;
      font-weight: 600;
      display: grid;
      place-items: center;
    }

    .logoimg {
      max-width: 300px;
      max-height: 300px;
      object-fit: contain;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .wrapper {
      background: var(--foreground);
      padding: 1.5rem;
      border-radius: 8px;
      width: 500px;
      border: 1px solid var(--borders);
    }

    p {
      color: var(--text);
      font-size: 14px;
      font-weight: 600;
      display: flex;
      align-items: center;
    }

    p.top {
      margin-top: 0px;
    }

        p.bottom {
      margin-bottom: 0px;
    }

    .alttext {
      color: var(--alternate-text);
      font-size: 12px;
      text-align: left;
      margin: 0;
    }

    .button {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      text-decoration: none;
      padding: 0.75rem;
      background-color: var(--accent);
      color: var(--text);
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <img src="https://ember.jp.net/ember.svg" alt="Ember Logo" class="logoimg" />
    <div class="wrapper">
      <p class="top">Hello {{username}},</p>
      <p>We received a request to reset your password. Your password can be reset by clicking the button below.</p>
      <a class="button" href="{{link}}">Reset Password</a>
      <p class="alttext">This request will be valid for the next 30 minutes.</p>
      <p class="bottom">If you didn’t request this, please ignore this email.</p>
    </div>
    <p class="alttext">© {{year}} Ember Social — All rights reserved.</p>
  </div>
</body>

</html>
